/* DEFAULT CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL CSS */

body,
html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    background-color: var(--body-color);
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 200;
    font-size: normal;
    color: #313131;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    /* COLORS */

    --body-color: #c4c4c4;
    --text-color: #1b1b1b;
    --header-color: #1b1b1b;
    --footer-color: #000;
    --text-color-fade: #313131;
    --icon-color: rgba(229, 223, 217, .5);
}

@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1000px) {}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--header-color);
    width: 100%;
    height: 70px;
    z-index: 99;
}

.header-container {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.menu-toggle span {
    font-size: 13px;
    color: var(--icon-color);
    font-weight: 100;
    margin-top: 10px;
}

.menu-icon {
    width: 30px;
    height: 10px;
    cursor: pointer;
    z-index: 999;
}

.menu-icon .line1,
.menu-icon .line2,
.menu-icon .line3 {
    width: 100%;
    height: 2.5px;
    background: var(--icon-color);
}

.menu-icon .line2 {
    margin: 5px 0;
}

.logo img {
    width: 50px;
    margin-top: 10px;
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.header-icons a {
    color: var(--icon-color);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.cart-icon:focus{
    color: #fff;
}

/* MENU ITEMS */

.menu-items {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    transform: translateX(1000px);
    opacity: 0;
    z-index: 999;
    overflow-y: scroll;
}

.menu-items .close-toggle {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 10px;
    cursor: pointer;
    z-index: 1000;
}

.close-toggle .line1,
.close-toggle .line2 {
    width: 100%;
    height: 2.5px;
    background: var(--text-color-fade);
}

.close-toggle .line1 {
    transform: translate3d(0, 8px, 0) rotate(45deg);
}

.close-toggle .line2 {
    margin: 5px 0;
    transform: translate3d(0, 0, 0) rotate(135deg);
}

.menu-container {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.menu-lists li {
    padding: 10px 10px 10px 20px;
    text-align: center;
    margin: 25px 0;
}

.menu-lists li a {
    font-size: 18px;
    color: var(--text-color-fade);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.contact-info h3 {
    margin: 25px 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color-fade);
}

.contact-info span {
    font-weight: 300;
    margin-left: 5px;
}

/* CART POP UP */

.cart{
    width: 100%;
    height: 20vh;
    position: absolute;
    box-shadow: 0 5px 20px rgba(58,58,58,0.9);
    top: 70px;
    left: 0;
    background: #fff;
    transform: translateY(-1000px);
    opacity: 0;
    z-index: 999;
}

.cart::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 69px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.cart .close-cart{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    z-index: 1000;
}

.close-cart .line1,
.close-cart .line2 {
    width: 100%;
    height: 2px;
    background: var(--text-color-fade);
}

.close-cart .line1 {
    transform: translate3d(0, 7px, 0) rotate(45deg);
}

.close-cart .line2 {
    margin: 5px 0;
    transform: translate3d(0, 0, 0) rotate(135deg);
}

.cart-container{
    padding: 1.5rem 2rem;
    text-align: center;
}

.cart-container h1{
    font-size: 25px;
    font-weight: 100;
    color: var(--text-color-fade);
    margin-bottom: 20px;
}

.cart-container p{
    color: #999;
    font-size: 16px;
}

/* SAVE POP UP */

.save{
    width: 100%;
    height: 20vh;
    position: absolute;
    box-shadow: 0 5px 20px rgba(58,58,58,0.9);
    top: 70px;
    left: 0;
    background: #fff;
    transform: translateY(-1000px);
    opacity: 0;
    z-index: 999;
}

.save::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 42px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.save .close-save{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    z-index: 1000;
}

.close-save .line1,
.close-save .line2 {
    width: 100%;
    height: 2px;
    background: var(--text-color-fade);
}

.close-save .line1 {
    transform: translate3d(0, 7px, 0) rotate(45deg);
}

.close-save .line2 {
    margin: 5px 0;
    transform: translate3d(0, 0, 0) rotate(135deg);
}

.save-container{
    padding: 1.5rem 2rem;
    text-align: center;
}

.save-container h1{
    font-size: 25px;
    font-weight: 100;
    color: var(--text-color-fade);
    margin-bottom: 20px;
}

.save-container p{
    color: #999;
    font-size: 16px;
}

/* SEARCH MODAL */

.search{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    overflow-y: scroll;
    transform: translateY(-1000px);
    opacity: 0;
    z-index: 999;
}

.search-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.search-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--text-color);
    margin-bottom: 30px;
}

.search-group-content{
    border-bottom: 1px solid var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.search-group-content i {
    font-size: 1rem;
    color: var(--text-color-fade);
}

.search-group-content input {
    background: transparent;
    color: var(--text-color);
    font-size: 13px;
    border: none;
    padding: 0.5rem;
    width: 100%;
    outline: none;
}

.search-group-content input::placeholder {
    font-size: .8rem;
    font-weight: lighter;
}

.search-content span{
    color: var(--text-color-fade);
    font-size: 12px;
    letter-spacing: .3px;
    font-weight: lighter;
    margin-left: 20px;
}

.search-trending{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.search-group{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.search-title{
    font-size: var(--text-color);
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}

.search-group i{
    font-size: 1rem;
    color: var(--text-color-fade);
}

.search-group h3, .search-name{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 300;
}
.search-new .search-name{
    margin: 15px 0;
}


/* ACCOUNT SECTION */

.account-container {
    width: 100%;
    text-align: center;
    padding: 2rem;
    margin-top: 20%;
}

.section-title {
    font-style: normal;
    font-weight: lighter;
    font-size: 20px !important;
    line-height: 10px;
    margin-bottom: 50px;
    color: var(--text-color-fade);
}

.google,
.facebook {
    display: flex;
    margin: 16px auto;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    width: 100%;
    height: 50px;
    background: #fff;
    border: 1px solid var(--header-color);
    color: var(--header-color);
    position: relative;
    padding: 12px 20px;
    cursor: pointer;
    transition: .2s ease;
}

.google img,
.facebook img {
    width: 30px;
}

.google span,
.facebook span {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: var(--text-color-fade);
}

.google:hover,
.facebook:hover {
    border-color: grey;
    color: grey;
}

.or,
.account-text {
    display: block;
    color: var(--header-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin: 28px 0;
}

.continue {
    font-size: 20px !important;
    color: var(--text-color-fade);
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 100;
    font-style: normal;
    width: 80%;
    text-align: center;
    margin: auto;
}

.input {
    background: #fff;
    border: unset;
    outline: none;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    padding: 25px 12px 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: .5px;
    color: var(--text-color-fade);
}

.flex {
    flex-direction: column;
    display: flex;
}

.flex-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.birth {
    width: 100%;
}

.label {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: .5px;
    color: grey;
    text-align: left;
    margin-bottom: 10px;
}

.check {
    width: 50%;
}

.flex-check {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    margin-bottom: 30px;
}

.check-text {
    display: block;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    color: grey;
    text-align: left;
    margin-top: 10px;
}

.choose {
    color: var(--text-color-fade);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.4;
    margin-bottom: 30px;
}

.choose a {
    text-decoration: underline;
    color: black;
}

.account-btn {
    background: var(--header-color);
    border: none;
    color: #e5dfd9;
    cursor: pointer;
    display: block;
    font-size: 15px;
    letter-spacing: 1px;
    outline: none;
    padding: 14px 15px 16px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
}

/* FOOTER PAGE */

footer{
    background: var(--footer-color);
    margin-top: 30px;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-top, .footer-middle{
    background: var(--header-color);
    color: #999;
    width: 100%;
    padding: 2rem;
}

.col{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(229,223,217,.15);
    margin: 20px 0;
    padding: 20px 0;
    gap: 1rem;
}
.col:last-child{
    border-bottom: none;
    margin: 0;
}

.col i{
    font-weight: 400;
    font-size: 18px;
}

.col span{
    font-size: 15px;
    letter-spacing: .5px;
    font-weight: 200;
}

.footer-middle{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer-middle a {
    border-bottom: 1px solid rgba(229,223,217,.15);
    padding: 30px 10px;
    width: 100%;
    font-size: 15px;
    color: #999;
}
.footer-bottom{
    background: var(--header-color);
    width: 100%;
    padding: 0 3rem;
}

.brands{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.brands img{
    width: 60px;
    filter: grayscale(1);
}

.copyright{
    font-size: 15px;
    color: #999;
    font-weight: 400;
    font-style: normal;
    line-height: 15px;
    margin: 20px auto;
    text-align: center;
}
