/* DEFAULT CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL CSS */

body,
html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    background-color: var(--body-color);
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 200;
    font-size: normal;
    color: #313131;
}

a {
    text-decoration: none;
}

:root {
    /* COLORS */

    --body-color: #c4c4c4;
    --text-color: #1b1b1b;
    --header-color: #1b1b1b;
    --text-color-fade: #313131;
    --icon-color: rgba(229, 223, 217, .5);
}

@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1000px) {}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--header-color);
    width: 100%;
    height: 70px;
    z-index: 999;
}

.header-container {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.menu-toggle span {
    font-size: 13px;
    color: var(--icon-color);
    font-weight: 100;
    margin-top: 10px;
}

.menu-icon {
    width: 30px;
    height: 10px;
    cursor: pointer;
    z-index: 1000;
}

.menu-icon .line1,
.menu-icon .line2,
.menu-icon .line3 {
    width: 100%;
    height: 2.5px;
    background: var(--icon-color);
}

.menu-icon .line2 {
    margin: 5px 0;
}

.logo img {
    width: 50px;
    margin-top: 10px;
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.header-icons a {
    color: var(--icon-color);
    font-size: 16px;
    font-weight: 700;
}

/* ACCOUNT SECTION */

.account-container {
    width: 100%;
    text-align: center;
    padding: 2rem;
    margin-top: 20%;
}

.section-title {
    font-style: normal;
    font-weight: lighter;
    font-size: 20px !important;
    line-height: 10px;
    margin-bottom: 50px;
    color: var(--text-color-fade);
}

.google,
.facebook {
    display: flex;
    margin: 16px auto;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    width: 100%;
    height: 50px;
    background: #fff;
    border: 1px solid var(--header-color);
    color: var(--header-color);
    position: relative;
    padding: 12px 34px;
    cursor: pointer;
    transition: .2s ease;
}

.google img,
.facebook img {
    width: 30px;
}

.google span,
.facebook span {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: var(--text-color-fade);
}

.google:hover,
.facebook:hover {
    border-color: grey;
    color: grey;
}

.or, .account-text{
    display: block;
    color: var(--header-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin: 28px 0;
}

.continue{
    font-size: 20px!important;
    color: var(--text-color-fade);
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 100;
    font-style: normal;
    width: 80%;
    text-align: center;
    margin: auto;
}

.input{
    background: #fff;
    border: unset;
    outline: none;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    padding: 25px 12px 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: .5px;
    color: var(--text-color-fade);
}

.flex{
    flex-direction: column;
    display: flex;
}
.flex-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.birth{
    width: 100%;
}

.label{
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: .5px;
    color: grey;
    text-align: left;
    margin-bottom: 10px;
}

.check{
    width: 50%;
}

.flex-check{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    margin-bottom: 30px;
}

.check-text{
    display: block;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    color: grey;
    text-align: left;
    margin-top: 10px;
}

.choose{
    color: var(--text-color-fade);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.4;
    margin-bottom: 30px;
}
.choose a{
    text-decoration: underline;
    color: black;
}

.account-btn{
    background: var(--header-color);
    border: none;
    color: #e5dfd9;
    cursor: pointer;
    display: block;
    font-size: 15px;
    letter-spacing: 1px;
    outline: none;
    padding: 14px 15px 16px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
}